

<div class="jumbotron" style="height: 620px;" controller="mainCtrl">
  <div style="text-align: left;margin-left: 12px"><h2>Timeline<h2></div>
  <div class="timeline"  data-main-timeline role="list">
    <div class="item"  data-feed-item ng-repeat="like in likes | orderBy: 'time':reverse=true" >
      <div class="item-image" ng-model="like.userimage"><img class="image" style="width: 5rem;height: 5rem;" src="{{like.userimage}}"/></div>


      <div class="item-image icon-like" ng-if="like.vote==1" ng-model="like.vote">
                             <span class="glyphicon glyphicon-thumbs-up"></span>

      </div>
      <div class="item-image icon-dislike" ng-if="like.vote==0" ng-model="like.vote">
                             <span class="glyphicon glyphicon-thumbs-down"></span>

      </div>
      <div class="item-time" ng-model="like.time"><time-ago from-time='{{like.time}}'></time-ago></div>
      <div class="item-text" ng-if="like.vote==1" ng-model="vote">{{like.username}} liked <a href="/#/movie/{{like.movie}}">{{like.movietitle}}</a></div>
      <div class="item-text" ng-if="like.vote==0" ng-model="vote">{{like.username}} disliked <a href="/#/movie/{{like.movie}}">{{like.movietitle}}</a></div>
    </div>
  </div>

</div>
