
<div class="contorno">
  <div class="contenido-info-trailer">
    <ng-include src="'views/movie-nav.html'"></ng-include>

    <div class="row">
      <div class="col-md-6 contenido-info">
        <h3 class="titulo-pelicula">{{ movie.title }} - {{ movie.anio }} - {{ movie.duracion }}</h3>
        <p class="parrafo-pelicula">{{ movie.sinopsis }}</p>
        <p><a ng-href={{movie.wikipedia}} class="titulo-pelicula">Leer más <i class="fa fa-external-link"></i></a></p>
        <h3 class="titulo-pelicula">Director</h3>
        <h5 class="parrafo-pelicula">{{ movie.director }}</h5>
        <h3 class="titulo-pelicula">Actores</h3>
        <h5 class="parrafo-pelicula">{{ movie.actores }}</h5>
      </div>
      <div class="col-md-6">
        <div>
          <div role="button" class="boton-accion boton-like" ng-click="liked()" id="botonMeGusta">
            <span class="boton-label"><i class="fa fa-heart"></i> Me gusta</span>
            <span class="js-likes-counter">{{ movie.meGusta }}</span>
          </div>
          <div role="button" class="boton-accion boton-dislike" ng-click="disliked()" id="botonNoMeGusta">
            <span class="boton-label">No me gusta</span>
            <span class="js-likes-counter">{{ movie.noMeGusta }}</span>
          </div>
        </div>
        <youtube src="movie.url"></youtube>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 contenido-info" >
        <h3 class="titulo-pelicula">Palabras clave</h3>
        <div ng-repeat="palabraClave in movie.palabrasClave.split(',')">
                <h5 class="parrafo-pelicula">{{palabraClave}}</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 contenido-info" >
        <h3 class="titulo-pelicula">Peliculas relacionadas</h3>
          <h5 class="parrafo-pelicula">{{ movie.recomendada }}</h5>
      </div>
    </div>

  </div>
</div>
